body {
  font-family: Verdana, sans-serif;
  padding: 0.8em;
}

th {
  padding: 5px;
}

td {
  text-align: center;
  background-color: paleturquoise;
}

.queens {
  background-color: palevioletred;
}

.manhattan {
  background-color: palegreen;
}

.bronx {
  background-color: palegoldenrod;
}

.brooklyn {
  background-color: lightslategray;
}

.staten-island {
  background-color: lightsalmon;
}