body {
    font-family: Verdana, sans-serif;
    padding: 1em 3em;
}
  
.tooltip {
    display: block;
    height: fit-content;
    opacity: 0.8;
    pointer-events: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: left;
}

.container {
    text-align: center;
}
  
path.state {
    stroke: black;
}