body {
    font-family: Verdana, sans-serif;
    padding: 1em 3em;
}
  
.tooltip {
    display: block;
    height: fit-content;
    background-color: white;
    opacity: 0.8;
    pointer-events: none;
    padding: 5px;
}
  
path.state {
    stroke: black;
}