body {
    font-family: Verdana, sans-serif;
    padding: 1em 3em;
}
  
.positive {
    color: green;
}
  
.negative {
    color: red;
}
  
.axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
}
