body {
    font-family: Verdana, sans-serif;
    padding: 1em 3em;
}
  
.dot {
    cursor: pointer;
    color: steelblue;
    opacity: 0.5;
}
  
.dot:hover {
    fill: black;
}
  
.axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
}

.trend {
    fill: none;
    stroke: black;
}